body, h1, p {
    margin: 0;
    padding: 0;
}

.game-container {
    text-align: center; 
    width: 100%; 
}


.game-title {
    margin: 0;
    padding: 20px 0; 
    font-size: 24px; 
}


.board-container {
    margin: 0 auto; 
    width: fit-content;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px); 
    grid-gap: 10px; 
    margin-bottom: 20px;
}


.cell {
    width: 100px; 
    height: 100px; 
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


.header {
    width: 100%;
    background-color: black;
    padding: 20px 0;
    text-align: center; 
}

.header-link {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.header-link:hover {
    color: #ddd; 
}


.cell.x::before, .cell.circle::before {
    font-weight: bold;
    color: #333;
}

.cell.x::before {
    content: 'X';
    color: #ff5555;
}

.cell.circle::before {
    content: 'O';
    color: #5555ff;
}

.message-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.message-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.button {
    cursor: pointer;
    background-color: #5555ff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 16px;
}

@media ((max-width: 550px) and (min-width: 399px)) 
{
    .title
    {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 3rem;
        height: 200px;
    }

    .btn
    {
        height: 125px;
        width: 125px;
        font-size: 2.5rem;
    }
}

@media (max-width: 400px) 
{
    .game-container
    {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 2rem;
        height: 150px;
    }

    .btn
    {
        height: 85px;
        width: 85px;
        font-size: 2rem;
    }
}
